<div id="<%= dom_id user_profile %>">
  <p>
    <strong>Firstname:</strong>
    <%= user_profile.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= user_profile.lastName %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user_profile.address %>
  </p>

  <p>
    <strong>Postalcode:</strong>
    <%= user_profile.postalCode %>
  </p>

  <p>
    <strong>Provincecode:</strong>
    <%= user_profile.provinceCode %>
  </p>

  <p>
    <strong>Countrycode:</strong>
    <%= user_profile.countryCode %>
  </p>

</div>
