<p style="color: green"><%= notice %></p>

<%# <%= render @prod_category %> 


<div class="box">
  <div class="title"><%= @prod_category.name %></div>

    <% if @prod_category.name === "None"%>
        <div id="products" class="container">
            <% Product.all.each do |product| %>
            
            <div class="card">
                <div class="card-content">
                <%= link_to product.manufacturer + " - " + product.name , product %>
                <br>
                CAD <%= number_to_currency(product.price) %>
                </div>
            </div>
            <% end %>
        </div>
    <% else %>    
        <div id="products" class="container">
            <% Product.where(categoryId: (@prod_category.categoryId)).each do |product| %>
            
            <div class="card">
                <div class="card-content">
                <%= link_to product.manufacturer + " - " + product.name , product %>
                <br>
                CAD <%= number_to_currency(product.price) %>
                </div>
            </div>
            <% end %>
        </div>
    <% end %>

</div>
