<%= simple_form_for @product, html: { multipart: true } do |form| %>
      <%= form.error_notification %>

  <%# <%= form_with(model: product) do |form| %>
    <%# <% if product.errors.any? %> 
      <%# <div style="color: red"> %>
        <%# <h2><%= pluralize(product.errors.count, "error") prohibited this product from being saved:</h2> %> 

        <%# <ul> %>
          <%# <% product.errors.each do |error| %> 
            <%# <li><%= error.full_message</li> %>
          <%# <% end %>
        <%# </ul> %>
      <%# </div> %>
    <%# <% end %> 

  <div>
    <%= form.label :id, style: "display: block" %>
    <%= form.number_field :id %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :manufacturer, style: "display: block" %>
    <%= form.text_field :manufacturer %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :stock, style: "display: block" %>
    <%= form.number_field :stock %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :weight, style: "display: block" %>
    <%= form.text_field :weight %>
  </div>

  <div>
    <%= form.label :categoryId, style: "display: block" %>
    <%= form.number_field :categoryId %>
  </div>

  <div class="control">
    <label class="label">Add images</label>
      <div class="file">
      <label class="file-label">
        <%= form.input :image, as: :file, input_html: { class:"file-input product-image" }, label: false, wrapper: false %>
          <span class="file-cta">
            <span class="file-icon"><i class="fa fa-upload"></i></span>
            <span class="file-label">Choose a file…</span>
          </span>
      </label>
      </div>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
