<head>
   <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
</head>

<div class="content">

  <p style="color: green"><%= notice %></p>

  <div class="title">Products</div>


  <div class="box">
    <%= form_tag(products_path, method: :get) do %>
      <select name=product[:role], class="form-control">
        <option value="None">None</option>
        <option value="Stoves">Stoves</option>
        <option value="Tents">Tents</option>
        <option value="Sleeping">Sleeping</option>
        <option value="Cookware">Cookware</option>
        <option value="Clothing">Clothing</option>
        <option value="TrekkingPoles">Trekking Poles</option>
      </select>
      <%= text_field_tag(:search, params[:search]) %>
      <%= submit_tag ("Search") %>
    <% end %>
  </div>



  <div id="products" class="container">
    <% @products.each do |product| %>
      
      <div class="card">
        <div class="card-content">
          <%= link_to product.manufacturer + " - " + product.name , product %>
          <br>
          CAD <%= number_to_currency(product.price) %>
        </div>
      </div>
    <% end %>
  </div>

<div id="paginate">
  <%= paginate @products %>
</div>

</div>