<head>
   <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
</head>

<div class="content">

  <p style="color: green"><%= notice %></p>

  <div class="title">Products</div>


  <div class="box">
    <select>
      <% @categories.each do |category| %>
        <option><%= category.name %></option>
      <% end%>
    </select>
    <%= form_tag(products_path, method: :get) do %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= submit_tag ("Search") %>
    <% end %>
  </div>



  <div id="products" class="container">
    <% @products.each do |product| %>
      
      <div class="card">
        <div class="card-content">
          <%= link_to product.manufacturer + " - " + product.name , product %>
          <br>
          CAD <%= number_to_currency(product.price) %>
        </div>
      </div>
    <% end %>
  </div>

<div id="paginate">
  <%= paginate @products %>
</div>

</div>