<%# <head>
   <%= javascript_importmap_tags %>
    <%# <%= javascript_include_tag "application", "data-turbolinks-track" => true  %> 
<%# </head> %> 

<%= debug session[:cart] %>

<div class="content">

  <p style="color: green"><%= notice %></p>

  <div class="title">Products</div>


  <div class="box">
    <%= form_tag(products_path, method: :get) do %>
      <select name="category" class="form-control">
        <% @prod_categories.each do |category| %>
          <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
      </select>
      <%= text_field_tag(:search, params[:search]) %>
      
      <%= submit_tag ("Search") %>
    <% end %>
  </div>

  <br>

  <div id="products" class="container">
    
    <% @products.each do |product| %>
      
      <div class="card">
        <div class="card-content">
          <% if product.image.url %>
            <%= image_tag product.image.url, alt:product.image.url %>
          <% end %>
          <%= link_to product.manufacturer + " - " + product.name , product %>
          <br>
          CAD <%= number_to_currency(product.price) %>
        </div>
      </div>
    <% end %>
  </div>


  <div id="paginate">
    <%= paginate @products %>
  </div> 

</div>