<!DOCTYPE html>
<html>
  <head>
    <title>Shopshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div id="welcome_user">
      <% if user_signed_in? %>
        Welcome: &nbsp;<strong> <%= current_user.email %></strong>
      <% end %>
    </div>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end%>  

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end%> 

    <div class="display-content">
      <%= yield %>
    </div>

  </body>
</html>
